<div class="wrapper">
  <div class="sidebar">
    <div class="list-items">
      <a routerLink="/" class="list-item" >
        <i  class="material-icons">bookmark_border</i> Dashboard
      </a>
      <a routerLink="calculator" routerLinkActive="selected" class="list-item">
        <i   class="material-icons">bookmark_border</i> Calculator
      </a>
      <a routerLink="notes" routerLinkActive="selected" class="list-item">
       <i  class="material-icons">bookmark_border</i> Notes
      </a>
    </div>
  </div>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

</div>
