<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <div class="contorl wz">
          <label for="amount">Amount:</label>
          <input type="number" required id="amount" name="amount" class="input" placeholder="Amount" [ngModel]="item.amount">
        </div>
      </div>
      <div class="field">
        <div class="contorl">
          <label for="description">Description:</label>
          <input type="text"  required name="description" class="input" id="description" placeholder="Description" [ngModel]="item.description">
        </div>
      </div>
      <div class="field">
        <div class="contorl">
          <br>
         <button type="submit" [disabled]="!itemForm.valid" class="button">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>
