.field-body {
  display: flex;

}
.control {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.input {
  background-color: #232a3a;
  color: white;
  border-color: thistle;

}
.button {
  background-color: #232a3a;
  color: white;
  border-color: thistle;
}

